// Specific CSS for your home-page
.app-box {
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:start;
}
* {
  background-color: black;
  color: white;
}

.body-home {
  height: 72vh;
  width: 100%;
  animation: change-image 24s infinite cubic-bezier(0.78,-0.2, 0.32, 1.26);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes change-image {
  0% {
    background-image: url('img_1.jpg');
  }
  25% {
    background-image: url('img_2.jpg');
  }
  50% {
    background-image: url('img_3.jpg');
  }
  75% {
    background-image: url('img_4.jpg');
  }
  100% {
    background-image: url('img_1.jpg');
  }
}
