<div class="card-container">
  <% @films.each do |film| %>
    <%= link_to film_path(film) do %>
      <div class="card">
          <p><%= film.title %></p>
      </div>
    <% end %>
  <% end %>
</div>
