.card {
  height: 20vh;
  background-position: center;
  background-size: cover;
  background-color: black;
  position: relative;
  transition: 0.3s ease;
  opacity: 1;
}

.card:hover{
  .card-text {
    opacity: 1;
    transform: translateY(0px);
  }
  opacity: 0.8;
}

.card-text {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  opacity: 0;
  transition: 0.3s ease;
  transform: translateY(10px);
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0vw 10vw;
  grid-gap: 20px;
}

@media(max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
