.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-nav{
  align-items: flex-end;
}

.fade-in {
  transition: background-image 6s ease-in-out;
}
